header {
    @include flexRow;
    margin: 0;
    z-index: 0;
        & p {
            font-size: 1em;
            color: black;
        }
        & .fa-arrow-left {
            position: relative;
            left: -60px;
                &:hover {
                    color: $primary-color;
                }
        }
}

.nom {
    @include flexMid;
    height: 63px;
    width: 100%;
    margin: 0;
    z-index: 0;
    @include boxShadow;
}

.nom_menu {
    @include flexRow;
    height: 63px;
    padding: 0;
    margin: 0;
}

.location {
    @include flexRow;
    width: 100%;
    height: 50px;
    background-color: $background-color-medium;
}

.fa-map-marker-alt {
    color: $background-color-darker;
    padding-right: 18px;
}

.reserver_menu {
    @include flexMid;
    min-height: 285px;
    width: 100%;
    background-color: $background-color-light;
    padding: 20px;
    box-sizing: border-box;    
        & p {
            font-size: 1.125em;
        } 
}

.btn {
    width: 217px;
    height: 50px;
    border: none;
    border-radius: 20px;
    background: linear-gradient(0deg, rgba(147,86,220,1) 0%, rgba(255,121,218,1) 100%);
    font-size: 1em;
    cursor: pointer;
    color: white;
    @include btnShadow;
    margin: 10px 0 57px 0;
    transition-property: box-shadow;
    transition-property: filter;
    transition-duration: 100ms;
        &:hover {
            @include btnTransition;
        }
}

.fonctionnement {
    background-color: white;
}

.btn__fonctionnement {
    cursor: pointer;
}