@media screen and (min-width: 867px) {

.menu {
    display: flex;
    flex-flow: row wrap;
    grid-gap: 30px;
}

.container_cartes_restaurants {
    text-align: center;
}

.fonctionnement {
    text-align: center;
}

.bloc__cartes__restaurants {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    grid-gap: 20px;
}

footer {
    text-align: center;
}

h1 {
    font-size: 3em;
}

.menu__container {
    display: flex;
    flex-flow: row wrap;
    justify-content: left;
    grid-gap: 30px;
}

.menu__item {
    min-width: 400px;
    max-width: 100%;
}

}

@media screen and (min-width: 415px) {

    h2 {
        text-align: center;
    }

    footer li {
        text-align: center;
    }

}

