.menu__image {
    & img {
        object-fit: cover;
        width: 100%;
        height: 265px;
    }
}

.menu__container {
    position: relative;
    top: -30px;
    background-color: $background-color-light;
    border-radius: 30px 30px 0 0;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
        
}

.menu__title {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
        & h2 {
            font-family: 'Shrikhand', cursive;
            font-size: 1.625em;
        }
        & .far {
            position: relative;
            top: 0;
            left: 0;
            font-size: 1.5em;
            width: 23px;
            height: 23px;
        }
}

.menu__item {
    position: relative; 
    background-color: white;
    max-height: 80px;
    border-radius: 20px;
    max-width: 100%;
    padding: 20px;
    opacity: 0;
    z-index: 5;
    box-sizing: border-box;
    @include btnShadow;
    animation: slide 1s forwards;
    animation-delay: 1s;
        &.item__1 {
            animation-delay: 0.1s;
        }
        &.item__2 {
            animation-delay: 0.3s;
        }
        
        &.item__3 {
            animation-delay: 0.5s;
        }
            &:hover {
                @include btnTransition;
                .check {
                    transform: scaleX(1);
                }
                .description {
                    width: calc(100% - 80px);
                }
                .fas {
                    animation: roll 500ms 1 forwards;                   
                }
            }
                & h4 {
                    margin: 0;
                }
}

.description {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
        & p {
            margin: 0;
            min-width: 30px;
            height: 20px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            margin-right: 10px;
        }
}

.entrees, .plats, .desserts {
    @include grid_gap_menu;
        & h3 {
            @include menu_h3;
    }
    //Bordure bottom 
        h3::after {
            content: "";
            display: block;
            width: 48px;
            padding-top: 5px;
            border-bottom: 3px solid $tertiary-color;
        }
}

.btn__commander {
    @include flexRow;
    padding: 10px 0 0px 0;
}

.check {
    @include flexMid;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 80px;
    border-radius: 0 20px 20px 0;
    background-color: $tertiary-color;
    transform: scaleX(0);
    transition: transform 300ms ease-in-out;
    transform-origin: right;
        & .fas {
            color: white;
            font-size: 1.5em;
        }
}

//Animations 

@keyframes slide {
    0% { opacity: 0; top: 10px; }
    100% { opacity: 1; top: 0px; }
}

@keyframes roll {
    from { transform: rotate(0deg);}
    to { transform: rotate(380deg);}
}
