.container_cartes_restaurants {
    background-color: $background-color-light;
    text-align: left;
    padding: 60px 20px 65px 20px;
}

.bloc__cartes__restaurants {
    @include flexMid;
    grid-gap: 20px;
}

.cartes__restaurants {
    display: flex;
    flex-flow: column wrap;
    text-align: left;
    width: 335px;
    min-height: fit-content;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 0px 0px 50px #ccc;
    box-sizing: border-box;
    z-index: 0;
        & a {
            text-decoration: none;
        }
        & img {
            border-radius: 20px 20px 0 0;
            width: 100%;
            height: 174px;
            object-fit: cover;
        }
        & h3 {
            padding-left: 14px;
            margin: 0;
        }
        & p {
            padding-left: 14px;
            margin: 0;
        }
            &:hover {
                @include btnTransition;
            }
}

.cartes__restaurants:nth-child(1):after, .cartes__restaurants:nth-child(2):after {
    content: 'Nouveau';
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    justify-content: center;
    position: relative;
    top: -250px;
    left: 230px;
    width: 80px;
    height: 30px;
    background-color: $tertiary-color;
    color: #149373;
    border-radius: 5px;
    z-index: 1;
}

.cartes__restaurants__id {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-content: left;
    padding: 20px 20px 20px 10px;
    margin: 0;
    z-index: 0;
}

.nouveau {
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    justify-content: center;
    position: relative;
    padding: 0;
    margin: 0;
    top: -250px;
    left: 230px;
    width: 80px;
    height: 30px;
    background-color: $tertiary-color;
    color: #149373;
    border-radius: 5px;
    z-index: 1;
}

.far {
    display: flex;
    flex-flow: row wrap;
    position: relative;
    top: -30px;
    left: 280px;
    width: 16px;
}

