.container_cartes_restaurants {
    background-color: $background-color-light;
    text-align: left;
    padding: 60px 20px 65px 20px;
}

.bloc__cartes__restaurants {
    @include flexMid;
    grid-gap: 20px;
}

.cartes__restaurants {
    display: flex;
    flex-flow: column wrap;
    text-align: left;
    width: 335px;
    background-color: white;
    border-radius: 20px 20px 20px 20px;
    @include boxShadow;
    box-sizing: border-box;
    z-index: 0;
        & a {
            text-decoration: none;
        }
        & img {
            border-radius: 20px 20px 0 0;
            width: 100%;
            height: 174px;
            object-fit: cover;
        }
        & h3 {
            padding: 0;
            margin: 0;
        }
        & p {
            padding: 0;
            margin: 0;
        }
            &:hover {
                @include btnTransition;
            }
}

.cartes__restaurants__id {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-content: flex-start;
    max-height: 75px;
    padding: 0;
    margin: 20px 0 0 15px;
     & .far {
        display: flex;
        flex-flow: row wrap;
        position: relative;
        top: -30px;
        left: 280px;
        height: 24px;
        width: 24px;
        font-size: 1.5em;
        color: black;
     } 
     
     & .fas {
        display: flex;
        flex-flow: row wrap;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        height: 24px;
        width: 24px;
        opacity: 0;
        background: -webkit-linear-gradient(0deg, rgba(147,86,220,1) 0%, rgba(255,121,218,1) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        transition: opacity 0.5s;
            &:hover {
                opacity: 1;
            }
     }
}

.nouveau {
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    justify-content: center;
    position: relative;
    top: -180px;
    left: 70px;
    width: 80px;
    height: 30px;
    background-color: $tertiary-color;
    color: #149373;
    border-radius: 5px;
    z-index: 5;
}



