* {
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
}

h1 {
  font-family: 'Shrikhand', cursive;
}

h2 {
  font-size: 1.5em;
  font-weight: bold;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: underline;
}

.loader {
  border: 16px solid #f3f3f3;
  /* Light grey */
  border-top: 16px solid #3498db;
  /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 3s linear infinite;
          animation: spin 3s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
}

header p {
  font-size: 1em;
  color: black;
}

.nom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 100%;
  height: 63px;
  margin: 0;
  z-index: 2;
  -webkit-box-shadow: 0px 3px 3px #ccc;
          box-shadow: 0px 3px 3px #ccc;
}

.location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 50px;
  background-color: #EAEAEA;
  z-index: 1;
}

.fa-map-marker-alt {
  color: #353535;
  padding-right: 18px;
}

.reserver_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 100%;
  min-height: 285px;
  background-color: #F6F6F6;
  padding: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.reserver_menu p {
  font-size: 1.125em;
}

.btn {
  width: 217px;
  height: 50px;
  border: none;
  border-radius: 20px;
  background: -webkit-gradient(linear, left bottom, left top, from(#9356dc), to(#ff79da));
  background: linear-gradient(0deg, #9356dc 0%, #ff79da 100%);
  font-size: 1em;
  color: white;
  -webkit-box-shadow: 0px 3px 10px #ccc;
          box-shadow: 0px 3px 10px #ccc;
  margin: 10px 0 57px 0;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-property: -webkit-box-shadow;
  transition-property: -webkit-box-shadow;
  transition-property: box-shadow;
  transition-property: box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: 100ms;
          transition-duration: 100ms;
  -webkit-transition-delay: 100ms;
          transition-delay: 100ms;
}

.btn:hover {
  opacity: 90%;
  -webkit-box-shadow: 0px 3px 10px #353535;
          box-shadow: 0px 3px 10px #353535;
}

.fonctionnement {
  padding: 2em;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 100%;
}

.btn__fonctionnement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-shadow: 0px 3px 10px #ccc;
          box-shadow: 0px 3px 10px #ccc;
  font-size: 1em;
  font-weight: bold;
  color: black;
  width: 325px;
  height: 75px;
  border: none;
  border-radius: 20px;
  margin-bottom: 25px;
  background-color: #F6F6F6;
}

.btn__fonctionnement:hover {
  opacity: 90%;
  -webkit-box-shadow: 0px 3px 10px #353535;
          box-shadow: 0px 3px 10px #353535;
}

.btn__fonctionnement:hover .fa-mobile-alt, .btn__fonctionnement:hover .fa-list-ul, .btn__fonctionnement:hover .fa-store {
  color: #9356DC;
}

.numeros {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  left: -15px;
  text-align: center;
  color: white;
  border-radius: 50%;
  height: 24px;
  width: 24px;
  background-color: #9356DC;
}

.fa-mobile-alt, .fa-list-ul, .fa-store {
  color: #7E7E7E;
  padding: 0 20px 0 20px;
}

.container_cartes_restaurants {
  background-color: #F6F6F6;
  text-align: left;
  padding: 60px 20px 65px 20px;
}

.bloc__cartes__restaurants {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 100%;
  grid-gap: 20px;
}

.cartes__restaurants {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  text-align: left;
  width: 335px;
  min-height: 250px;
  border-radius: 20px 20px 20px 20px;
  -webkit-box-shadow: 0px 0px 50px #ccc;
          box-shadow: 0px 0px 50px #ccc;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.cartes__restaurants a {
  text-decoration: none;
}

.cartes__restaurants img {
  border-radius: 20px 20px 0 0;
  width: 335px;
  height: 174px;
  -o-object-fit: cover;
     object-fit: cover;
}

.cartes__restaurants h3 {
  padding-left: 14px;
  margin: 0;
}

.cartes__restaurants p {
  padding-left: 14px;
  margin: 0;
}

.cartes__restaurants:hover {
  opacity: 90%;
  -webkit-box-shadow: 0px 3px 10px #353535;
          box-shadow: 0px 3px 10px #353535;
}

.cartes__restaurants__id {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: left;
      align-content: left;
  min-height: 77px;
}

.nouveau {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  padding: 0;
  margin: 0;
  top: -160px;
  left: 240px;
  width: 80px;
  height: 30px;
  background-color: #99E2D0;
  color: #149373;
  border-radius: 5px;
}

footer {
  background-color: #353535;
  color: white;
  padding: 25px;
}

footer h2 {
  font-family: 'Shrikhand', cursive;
  font-size: 2em;
  letter-spacing: 0.5px;
}

footer ul {
  list-style-type: none;
  padding: 0;
}

footer li {
  padding: 13px 0 0 0;
}

.fa-utensils {
  color: white;
  padding: 0 18px 0 0;
}

.fa-hands-helping {
  color: white;
  padding: 0 12px 0 0;
}

@media screen and (min-width: 600px) {
  .container_cartes_restaurants {
    text-align: center;
  }
  .fonctionnement {
    text-align: center;
  }
  .bloc__cartes__restaurants {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    grid-gap: 20px;
  }
  footer {
    text-align: center;
  }
}
/*# sourceMappingURL=style.css.map */