$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;

$background-color-darker: #353535;
$background-color-medium: #EAEAEA;
$background-color-light: #F6F6F6;

$icons-color-primary: #7E7E7E;


// Mixin pour centrer tous les éléments 
@mixin flexMid {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
}

// Mixin pour centrer tous les éléments sauf le texte
@mixin flexRow {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    text-align: left;
}

@mixin boxShadow {
    box-shadow: 0px 3px 3px #ccc;
}

@mixin menu_h3 {
    text-transform: uppercase;
    padding: 20px 10px 0 10px;
}


@mixin grid_gap_menu {
    display: flex;
    flex-flow: column wrap;
    grid-gap: 15px;
}

@mixin btnShadow {
    box-shadow: 0px 3px 10px #ccc;
}

// Mixin pour l'effet de brighteness et shadow au survol des buttons et des cartes 
@mixin btnTransition {
    filter: brightness(1.15);
    box-shadow: 0px 1px 5px $background-color-darker;
}

* {
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
}

main {
    background-color: $background-color-light;
}

h1 {
    font-family: 'Shrikhand', cursive;
    margin: 0;
}

h2 {
    font-size: 1.5em;
    font-weight: bold;
    margin: 0;
    padding: 20px 0 20px 0;
}

a {
    text-decoration: none;
    color: inherit;
        &:hover {
            text-decoration: none;
        }
}

@import "loader";
@import "header";
@import "fonctionnement";
@import "restaurants";
@import "footer";
@import "restaurants_menu";
@import "media_queries";
