* {
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
}

main {
  background-color: #F6F6F6;
}

h1 {
  font-family: 'Shrikhand', cursive;
  margin: 0;
}

h2 {
  font-size: 1.5em;
  font-weight: bold;
  margin: 0;
  padding: 20px 0 20px 0;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
}

.loader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  position: fixed;
  background-color: #9356DC;
  width: 100%;
  height: 100%;
  z-index: -5;
  opacity: 0;
  -webkit-animation: opacity 3s 1;
          animation: opacity 3s 1;
}

.loader .fa-utensils {
  position: relative;
  opacity: 0.5;
  top: -80px;
  left: -150px;
  font-size: 3em;
  color: white;
  z-index: 4;
  -webkit-animation: color 3s 1 forwards;
          animation: color 3s 1 forwards;
}

.container__loader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  max-height: 250px;
}

.loader__rotative {
  position: relative;
  width: 160px;
  height: 160px;
  border-radius: 50%;
  border: 10px solid transparent;
  border-top: 10px solid #FF79DA;
  border-bottom: 10px solid #FF79DA;
  z-index: 3;
  -webkit-animation: spin 3s infinite;
          animation: spin 3s infinite;
}

.loader__rotative_small {
  position: relative;
  top: 20px;
  left: -155px;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 10px solid transparent;
  border-left: 5px solid #99E2D0;
  border-right: 5px solid #99E2D0;
  z-index: 3;
  -webkit-animation: spinner 3s infinite;
          animation: spinner 3s infinite;
}

@-webkit-keyframes opacity {
  0% {
    opacity: 1;
    z-index: 1;
  }
  99% {
    opacity: 1;
    z-index: 1;
  }
  100% {
    opacity: 0;
    z-index: -5;
  }
}

@keyframes opacity {
  0% {
    opacity: 1;
    z-index: 1;
  }
  99% {
    opacity: 1;
    z-index: 1;
  }
  100% {
    opacity: 0;
    z-index: -5;
  }
}

@-webkit-keyframes color {
  0% {
    color: #99E2D0;
  }
  20% {
    color: #FF79DA;
  }
  40% {
    color: #99E2D0;
  }
  60% {
    color: #FF79DA;
  }
  80% {
    color: #99E2D0;
  }
  100% {
    color: #FF79DA;
  }
}

@keyframes color {
  0% {
    color: #99E2D0;
  }
  20% {
    color: #FF79DA;
  }
  40% {
    color: #99E2D0;
  }
  60% {
    color: #FF79DA;
  }
  80% {
    color: #99E2D0;
  }
  100% {
    color: #FF79DA;
  }
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    opacity: 0.5;
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    opacity: 0.5;
  }
}

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes spinner {
  0% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: left;
  margin: 0;
  z-index: 0;
}

header p {
  font-size: 1em;
  color: black;
}

header .fa-arrow-left {
  position: relative;
  left: -60px;
}

header .fa-arrow-left:hover {
  color: #9356DC;
}

.nom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  height: 63px;
  width: 100%;
  margin: 0;
  z-index: 0;
  -webkit-box-shadow: 0px 3px 3px #ccc;
          box-shadow: 0px 3px 3px #ccc;
}

.nom_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: left;
  height: 63px;
  padding: 0;
  margin: 0;
}

.location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: left;
  width: 100%;
  height: 50px;
  background-color: #EAEAEA;
}

.fa-map-marker-alt {
  color: #353535;
  padding-right: 18px;
}

.reserver_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  min-height: 285px;
  width: 100%;
  background-color: #F6F6F6;
  padding: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.reserver_menu p {
  font-size: 1.125em;
}

.btn {
  width: 217px;
  height: 50px;
  border: none;
  border-radius: 20px;
  background: -webkit-gradient(linear, left bottom, left top, from(#9356dc), to(#ff79da));
  background: linear-gradient(0deg, #9356dc 0%, #ff79da 100%);
  font-size: 1em;
  cursor: pointer;
  color: white;
  -webkit-box-shadow: 0px 3px 10px #ccc;
          box-shadow: 0px 3px 10px #ccc;
  margin: 10px 0 57px 0;
  -webkit-transition-property: -webkit-box-shadow;
  transition-property: -webkit-box-shadow;
  transition-property: box-shadow;
  transition-property: box-shadow, -webkit-box-shadow;
  -webkit-transition-property: -webkit-filter;
  transition-property: -webkit-filter;
  transition-property: filter;
  transition-property: filter, -webkit-filter;
  -webkit-transition-duration: 100ms;
          transition-duration: 100ms;
}

.btn:hover {
  -webkit-filter: brightness(1.15);
          filter: brightness(1.15);
  -webkit-box-shadow: 0px 1px 5px #353535;
          box-shadow: 0px 1px 5px #353535;
}

.fonctionnement {
  background-color: white;
}

.btn__fonctionnement {
  cursor: pointer;
}

.fonctionnement {
  padding: 2em;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.btn__fonctionnement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-shadow: 0px 3px 10px #ccc;
          box-shadow: 0px 3px 10px #ccc;
  font-size: 1em;
  font-weight: bold;
  color: black;
  width: 325px;
  height: 75px;
  border: none;
  border-radius: 20px;
  margin-bottom: 25px;
  background-color: #F6F6F6;
}

.btn__fonctionnement:hover {
  -webkit-filter: brightness(1.15);
          filter: brightness(1.15);
  -webkit-box-shadow: 0px 1px 5px #353535;
          box-shadow: 0px 1px 5px #353535;
}

.btn__fonctionnement:hover .fa-mobile-alt, .btn__fonctionnement:hover .fa-list-ul, .btn__fonctionnement:hover .fa-store {
  color: #9356DC;
}

.numeros {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  left: -15px;
  text-align: center;
  color: white;
  border-radius: 50%;
  height: 24px;
  width: 24px;
  background-color: #9356DC;
}

.fa-mobile-alt, .fa-list-ul, .fa-store {
  color: #7E7E7E;
  padding: 0 20px 0 20px;
}

.container_cartes_restaurants {
  background-color: #F6F6F6;
  text-align: left;
  padding: 20px 20px 65px 20px;
}

.bloc__cartes__restaurants {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  grid-gap: 20px;
}

.cartes__restaurants {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  text-align: left;
  width: 335px;
  background-color: white;
  border-radius: 20px 20px 20px 20px;
  -webkit-box-shadow: 0px 3px 3px #ccc;
          box-shadow: 0px 3px 3px #ccc;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  z-index: 0;
}

.cartes__restaurants a {
  text-decoration: none;
}

.cartes__restaurants img {
  border-radius: 20px 20px 0 0;
  width: 100%;
  height: 174px;
  -o-object-fit: cover;
     object-fit: cover;
}

.cartes__restaurants h3 {
  padding: 0;
  margin: 0;
}

.cartes__restaurants p {
  padding: 0;
  margin: 0;
}

.cartes__restaurants:hover {
  -webkit-filter: brightness(1.15);
          filter: brightness(1.15);
  -webkit-box-shadow: 0px 1px 5px #353535;
          box-shadow: 0px 1px 5px #353535;
}

.cartes__restaurants__id {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  max-height: 75px;
  padding: 0;
  margin: 20px 0 0 15px;
}

.cartes__restaurants__id .far {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  position: relative;
  top: -30px;
  left: 280px;
  height: 24px;
  width: 24px;
  font-size: 1.5em;
  color: black;
}

.cartes__restaurants__id .fas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 24px;
  width: 24px;
  opacity: 0;
  background: -webkit-linear-gradient(0deg, #9356dc 0%, #ff79da 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

.cartes__restaurants__id .fas:hover {
  opacity: 1;
}

.nouveau {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  top: -180px;
  left: 70px;
  width: 80px;
  height: 30px;
  background-color: #99E2D0;
  color: #149373;
  border-radius: 5px;
  z-index: 5;
}

footer {
  background-color: #353535;
  color: white;
  padding: 25px;
  margin: 0;
  z-index: 0;
}

footer h2 {
  font-family: 'Shrikhand', cursive;
  font-size: 2em;
  letter-spacing: 0.5px;
}

footer ul {
  list-style-type: none;
  padding: 0;
}

footer li {
  padding: 13px 0 0 0;
}

footer a:hover {
  font-weight: bold;
}

.fa-utensils {
  color: white;
  padding: 0 18px 0 0;
}

.fa-hands-helping {
  color: white;
  padding: 0 12px 0 0;
}

.menu__image img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 265px;
}

.menu__container {
  position: relative;
  top: -60px;
  background-color: #F6F6F6;
  width: 100%;
  padding: 0 10px 10px 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.menu__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  background-color: #F6F6F6;
  top: -30px;
  border-radius: 30px 30px 0 0;
  padding: 20px;
}

.menu__title h2 {
  font-family: 'Shrikhand', cursive;
  font-size: 1.625em;
}

.menu__title .far {
  position: relative;
  top: 0;
  left: 0;
  font-size: 1.5em;
  width: 23px;
  height: 23px;
}

.menu__title .far .fas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 24px;
  width: 24px;
  opacity: 0;
  background: -webkit-linear-gradient(0deg, #9356dc 0%, #ff79da 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

.menu__title .far .fas:hover {
  opacity: 1;
}

.menu__item {
  position: relative;
  background-color: white;
  max-height: 80px;
  border-radius: 20px;
  max-width: 100%;
  padding: 20px;
  cursor: pointer;
  opacity: 0;
  z-index: 5;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 3px 10px #ccc;
          box-shadow: 0px 3px 10px #ccc;
  -webkit-animation: slide 1s forwards;
          animation: slide 1s forwards;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.menu__item.item__1 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}

.menu__item.item__2 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

.menu__item.item__3 {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

.menu__item:hover {
  -webkit-filter: brightness(1.15);
          filter: brightness(1.15);
  -webkit-box-shadow: 0px 1px 5px #353535;
          box-shadow: 0px 1px 5px #353535;
}

.menu__item:hover .check {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.menu__item:hover .description {
  width: calc(100% - 80px);
}

.menu__item:hover .fas {
  -webkit-animation: roll 500ms 1 forwards;
          animation: roll 500ms 1 forwards;
}

.menu__item h4 {
  margin: 0;
}

.description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.description p {
  margin: 0;
  min-width: 30px;
  height: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-right: 10px;
}

.entrees, .plats, .desserts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  grid-gap: 15px;
}

.entrees h3, .plats h3, .desserts h3 {
  text-transform: uppercase;
  padding: 20px 10px 0 10px;
}

.entrees h3::after, .plats h3::after, .desserts h3::after {
  content: "";
  display: block;
  width: 48px;
  padding-top: 5px;
  border-bottom: 3px solid #99E2D0;
}

.btn__commander {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: left;
  padding: 10px 0 0px 0;
}

.check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 80px;
  border-radius: 0 20px 20px 0;
  background-color: #99E2D0;
  -webkit-filter: brightness(1);
          filter: brightness(1);
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: -webkit-transform 300ms ease-in-out;
  transition: -webkit-transform 300ms ease-in-out;
  transition: transform 300ms ease-in-out;
  transition: transform 300ms ease-in-out, -webkit-transform 300ms ease-in-out;
  -webkit-transform-origin: right;
          transform-origin: right;
}

.check .fas {
  color: white;
  font-size: 1.5em;
}

@-webkit-keyframes slide {
  0% {
    opacity: 0;
    top: 10px;
    -webkit-filter: brightness(1);
            filter: brightness(1);
  }
  100% {
    opacity: 1;
    top: 0px;
    -webkit-filter: brightness(1);
            filter: brightness(1);
  }
}

@keyframes slide {
  0% {
    opacity: 0;
    top: 10px;
    -webkit-filter: brightness(1);
            filter: brightness(1);
  }
  100% {
    opacity: 1;
    top: 0px;
    -webkit-filter: brightness(1);
            filter: brightness(1);
  }
}

@-webkit-keyframes roll {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(380deg);
            transform: rotate(380deg);
  }
}

@keyframes roll {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(380deg);
            transform: rotate(380deg);
  }
}

@media screen and (min-width: 867px) {
  .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    grid-gap: 30px;
  }
  .container_cartes_restaurants {
    text-align: center;
  }
  .fonctionnement {
    text-align: center;
  }
  .bloc__cartes__restaurants {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    grid-gap: 20px;
  }
  footer {
    text-align: center;
  }
  h1 {
    font-size: 3em;
  }
  .menu__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    grid-gap: 30px;
  }
  .menu__item {
    min-width: 400px;
    max-width: 100%;
  }
}
/*# sourceMappingURL=style.css.map */